<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spam lessonup accesable</title>
</head>
<body>
    
    <form method="post" id="mainprocess">
        <h1>enter the pincode from lessonup</h1>
        <input type="text" placeholder="code" name="pincode_userinput" required>
        <button type="submit">Submit</button>
        <details>
            you can enter the pincode multiple time but there is a problem
            it doesn't run on my server so the server will get overballasted
            so you can't run it as many time as you want''
        </details>
    </form>
    <form id="login">
        <input type="password" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="button" onclick="maybe_start()">sumbit</button>
    </form>


    {% if result %}
        <h2>running...</h2>
        <p>{{ result }}</p>
    {% endif %}
    <script>
        function maybe_start(){
            var username = document.querySelector('input[name="username"]').value;
            var password = document.querySelector('input[name="password"]').value;
            if (username == "everyone" && password == "we love ivo") {
                document.getElementById("mainprocess").style.display = "block";
                document.getElementById("login").style.display = "none";
        }
            else{
                alert("wrong username or password")
        }
    }

    </script>
    <style>
        #mainprocess {
            display: none;
        }
        
    </style>
    
</body>
</html>